/* .container-fluid
{
 padding-left:30px;
 padding-right: 30px;
} */

@media print
{
    @page
    {
         size: 8.5in 11in; 
         margin-right: auto;
         
    }
    /* .tbl-1{
        float:right;
    } */
}


.card{
border: none;
padding:0px;
margin: 0px;
}

F
.tbl-1 tbody tr:nth-child(even) {
    background:#f9f9fa!important;;
  }

  .tbl-2 tr:last-child
  {
    background:#f9f9fa!important;
    border-bottom: 2px solid #e2e2e2;
  }
  

  .bg-light
  {
    background-color: #ececec!important;
  }
.table td, p, ol li{
    font-size: 13px;
}

h5,h1,p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: .25rem;
}

h6, .data{padding:5px 60px;}

.table td, .table th {
    padding: .5rem;
    vertical-align: top;
    border:none;
}

thead{

    background-color: #f9f9fa;
 }




