.wrappercontent .scrollmenu {background-color: #195bb4; overflow: auto; white-space: nowrap; }
.wrappercontent .scrollmenu a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none; }
.wrappercontent .scrollmenu a:hover {background-color: #777;}
.wrappercontent .scrollmenu a:focus, .wrappercontent .scrollmenu a:active{background-color: #777;}


.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
div {
    display: block;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.test-content input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}
input[type="checkbox"] {
    background: #fff;
    border: 1px solid #195bb4;
    margin-right: 10px;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input {
    outline-color: #65a701;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.test-checkbox label {
    margin: 0 20px;
}
.test-checkbox label, .radio label {
    padding-left: 0;
}
.test-checkbox label, .radio label {
    padding-left: 0;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #195bb4;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #f5b433;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #f5b433;
}
.test-content label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    right: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.test-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #fff;
    border-color: #195bb4;
}
.test-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #fff;
    border-color: #f5b433;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #195bb4;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #f5b433;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #f5b433;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-content .panel-title {
    color: #195bb4;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #65a701;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
}
a {
    color: #65a701;
}
a {
    background-color: transparent;
}
.test-content .panel-heading .accordion-toggle:before {
    font-family: 'Glyphicons Halflings';
    content: "\e082";
    color: #b8b8b8;
    font-size: 16px;
    margin-top: 5px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.test-checkbox input[type="checkbox"]:checked + label::after {
    color: #195bb4;
}
.test-checkbox input[type="checkbox"]:checked + label::after {
    color: #f5b433;
}
.test-content input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.test-content label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.collapse {
    display: none;
}
element.style {
    height: 0px;
}
.collapse.in {
    display: block;
}
.collapse {
    display: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}
.testlist {
    padding: 15px 15px 15px 36px;
}
.panel-body {
    padding: 15px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.test-content input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}
input[type="checkbox"] {
    background: #fff;
    border: 1px solid #195bb4;
    margin-right: 10px;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input {
    outline-color: #65a701;
}
.test-checkbox label {
    margin: 0 20px;
}
.test-checkbox label, .radio label {
    padding-left: 0;
}
.test-checkbox label, .radio label {
    padding-left: 0;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.test-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #fff;
    border-color: #195bb4;
}
.test-checkbox input[type="checkbox"]:checked + label::before {
    background-color: #fff;
    border-color: #f5b433;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #195bb4;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #f5b433;
}
.checkbox-circle label::before {
    border-radius: 50%;
    border-color: #f5b433;
}
.test-checkbox input[type="checkbox"]:checked + label::after {
    color: #195bb4;
}
.test-checkbox input[type="checkbox"]:checked + label::after {
    color: #f5b433;
}
.test-content input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';

}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.test-content label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}




.test-content .panel-heading .accordion-toggle.collapsed:before{font-family: 'Glyphicons Halflings';content:"\e081"; font-size: 16px; margin-top: 5px;}
.test-content .panel-heading .accordion-toggle:before{font-family: 'Glyphicons Halflings'; content:"\e082"; color: #b8b8b8; font-size: 16px; margin-top: 5px;}

.checkbox-circle label::before {border-radius: 50%;border-color: #195bb4 }
.checkbox-inline {margin-top: 0; }
.test-checkbox input[type="checkbox"]:checked + label::before {background-color: #fff; border-color: #195bb4; }
.test-checkbox input[type="checkbox"]:checked + label::after {color: #195bb4 ;   content: "\2713";font-weight: 900;}
   
.test-checkbox label, .radio label{padding-left: 0}
.test-checkbox label{margin: 0 20px}




input[type=radio]{height: 20px;width: 20px}



  
  .color
        {
            background-color: #777;
        }
       
       
        .input-left, .input-right
        {
            padding: 0;
        }
        .input-left input
        {
            border-right: none;
            border-radius-right: 0px;
        }
        .input-right input
        {
            border-left: none;
            border-radius-left: 0px;
            position: relative;
            right: 5px;
            background-color: #fff !important;
        }
        .addtest label::before
        {
            content: none;
        }
        #profilelist
        {
            height: 250px;
            overflow: auto;
        }
        
        #tbodyPatientList
        {
            height: 100%;
            overflow: auto;
            overflow-x: auto;
        }
        #tbodyDoctorList
        {
            height: 100%;
            overflow: auto;
            overflow-x: auto;
        }
        tbody#tbodyDoctorList td:nth-of-type(6), tbody#tbodyDoctorList td:nth-of-type(11), tbody#tbodyDoctorList td:nth-of-type(12), tbody#tbodyDoctorList td:nth-of-type(13), tbody#tbodyDoctorList td:nth-of-type(14), tbody#tbodyDoctorList td:nth-of-type(15), tbody#tbodyDoctorList td:nth-of-type(16)
        {
            display: none;
        }
        .adjustloader
        {
            position: absolute;
            top: 42%;
            left: 43%;
            z-index: 999;
        }
        #ContentPlaceHolder1_imgPopup2
        {
            position: relative;
            left: 100%;
            bottom: 30px;
            z-index: 99;
        }
        .active11
        {
            background-color: #cdcdcd;
        }


        .pagination1 a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 15px;
}
   
   .pagination-container1 {
    margin: 20px auto;
    text-align: center;
}    