*
{
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 1px;
}
body
{
    padding-top: 80px;
}
body::-webkit-scrollbar
{
    width: 1em;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb
{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
nav #nav
{
    height: 60px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.primary-col-back
{
    background-color: #195bb4;
}
.dropdown-toggle::after
{
    display: none !important;
}
.dropdown-menu
{
    font-size: 12px;
}
.text-12
{
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}
.navbar-header
{
    padding: 15px;
    font-size: 17px;
    display: block;
}
.form-error
{
    color: Red;
}
.navbar-subtitle
{
    font-size: 17px !important;
    color: #91c740 !important;
}
.test-list label
{
    color: #195bb4;
}
.test-list span
{
    float: right;
    color: #195bb4;
}
.testtotal p
{
    float: left;
}
.testtotal span
{
    float: right;
}
.navbar-brand
{
    color: #3062ae;
    font-size: 20px;
}
.navbar-nav
{
    padding: 0px 0px 0px 20px;
}
.navbar-nav button:hover
{
    background: #2c3e50;
    color: white;
    font-weight: bold;
}
.search:hover
{
    background: #2c3e50;
    color: white;
    font-weight: bold;
}
.btn-color
{
    background: #eeecec;
    color: #91c740;
}
.btn-submit
{
    background: #cccbcb;
    color: #195bb4;
    font-weight: bold;
}
.text-size
{
    font-size: 15px;
}
.text-17
{
    font-size: 17px;
}
.table_div
{
    background-color: #f3f6ff;
    height: auto;
    width: 100%;
    display: block;
    padding: 10px 0px;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.responsive-table li
{
    border-radius: 3px;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* .table-row li{
  padding-left:15px 0px !important;
} */
.responsive-table .table-header
{
    background-color: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}
.responsive-table .table-row
{
    background-color: #ffffff;
    font-size: 12px !important;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

#TestBooktList > .responsive-table .col-1
{
    flex-basis: 6%;
    width: 6%;
}
#TestBooktList > .responsive-table .col-2
{
    flex-basis: 12.5%;
    width: 12.5%;
}
#TestBooktList > .responsive-table .col-3
{
    flex-basis: 12.5%;
    width: 12.5%;
}
#TestBooktList > .responsive-table .col-4
{
    flex-basis: 10%;
    width: 10%;
}
#TestBooktList > .responsive-table .col-5
{
    flex-basis: 10%;
    width: 10%;
}
#TestBooktList > .responsive-table .col-6
{
    flex-basis: 10%;
    width: 10%;
}
#TestBooktList > .responsive-table .col-7
{
    flex-basis: 12%;
    width: 10%;
}
#TestBooktList > .responsive-table .col-8
{
    flex-basis: 10%;
    width: 10%;
}
#TestBooktList > .responsive-table .col-9
{
    flex-basis: 10%;
    width: 10%;
}
#TestBooktList > .responsive-table .col-10
{
    flex-basis: 10%;
    width: 10%;
}
.fa-color
{
    color: #91c740;
}
.fa-red
{
    color: rgb(248, 6, 6);
}
.btn-success
{
    background: #91c74073;
    border: none;
    font-size: 12px;
    color: gray;
}
.btn-success:hover
{
    background-color: #91c740;
}
.fa-yellow
{
    color: rgb(248, 191, 3);
}
.fa-style
{
    font-size: 14px;
}
.table-row:hover
{
    background: rgba(145, 199, 64, 0.226);
}
.table tr:hover
{
    background: rgba(145, 199, 64, 0.226) !important;
}
.fixed-table thead
{
    background: #f9f9f9;
    display: table;
    width: 100%;
}
.fixed-table tbody
{
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}
.fixed-table tbody tr
{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.testwrap
{
    padding: 0;
}
@media all and (max-width: 767px)
{
    .responsive-table .table-header
    {
        display: none;
    }
    .responsive-table li
    {
        display: block;
    }
    .responsive-table .col
    {
        flex-basis: 100%;
    }
    .responsive-table .col
    {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before
    {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        text-align: left;
    }
}



/* VIEW BOOKING HISTORY */

.card
{
    font-size: 12px;
}
.card-title
{
    font-size: 17px;
    color: #91c740;
}
#PatientList > .responsive-table .col-1
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#PatientList > .responsive-table .col-2
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#PatientList > .responsive-table .col-3
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#PatientList > .responsive-table .col-4
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#PatientList > .responsive-table .col-5
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
/* Step Progress Bar */
ul.SteppedProgress
{
    counter-reset: step;
    display: flex;
    margin: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 1;
}
.SteppedProgress li
{
    list-style-type: none;
    color: #404140;
    line-height: normal;
    flex: 1;
    font-size: 12px;
    position: relative;
    padding: 0 2%;
}
.SteppedProgress li.current span
{
    background: silver;
    border: 1px solid silver;
    color: gray;
    display: inline-block;
    padding: 3px 6px;
    position: relative;
    margin: 0px -6px;
    width: 100%;
}
.SteppedProgress li.current span:after
{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255,255,255,0);
    border-bottom-color: silver;
    border-width: 10px;
    margin-left: -10px;
}
.SteppedProgress li.current span
{
    background: #4170b0;
    color: rgb(161, 146, 146);
}
.SteppedProgress li.current span:after
{
    border-bottom-color: #4170b0;
}
.SteppedProgress li.current.canHover span:hover
{
    background: #b9cce5;
    border-color: #4170b0;
    color: #4170b0;
}
.SteppedProgress li.current.canHover span:hover:after
{
    border-bottom-color: #b9cce5;
}
.SteppedProgress li:before
{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 22px;
    color: #FFF;
    background: gray;
    border-radius: 15px;
    margin: 0 auto 10px;
    position: relative;
    z-index: 1;
}
.SteppedProgress li:after
{
    content: '';
    width: 100%;
    height: 6px;
    background: silver;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1;
}
.SteppedProgress li:first-child:after
{
    content: none;
}
.SteppedProgress li.complete:before
{
    background: #91c740;
    color: white;
}
.SteppedProgress li.complete:after
{
    background: #cef396;
}
@media (max-width: 480px)
{
    ul.SteppedProgress
    {
        display: block;
    }
    .SteppedProgress li
    {
        flex: none;
        clear: both;
        text-align: left;
        padding: 0;
        margin-left: 0;
        min-height: 2.2em;
    }
    .SteppedProgress li span
    {
        white-space: nowrap;
    }
    ul.SteppedProgress li:before
    {
        float: none;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        margin-left: 0;
    }
    .SteppedProgress li:after
    {
        content: '';
        width: 6px;
        height: 100%;
        position: absolute;
        left: 12px;
        top: -50%;
        z-index: -1;
    }
    ul.SteppedProgress li.current span:after
    {
        border-right-color: #4170b0;
    }
}

/* Expandable SearchBar */
.search-box
{
    width: 400px;
    height: 50px;
    position: relative;
}

.search-box > .input
{
    position: absolute;
    top: 2px;
    right: 30px;
    box-sizing: border-box;
    width: 0px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    font-size: 12px;
    border-radius: 50px;
    color: #29313a;
    border: 2px solid #91c740;
    transition: all 0.8s ease;
}

::-webkit-input-placeholder
{
    /* Chrome/Opera/Safari */
    color: #91c740;
}
::-moz-placeholder
{
    /* Firefox 19+ */
    color: #91c740;
}
:-ms-input-placeholder
{
    /* IE 10+ */
    color: #91c740;
}
:-moz-placeholder
{
    /* Firefox 18- */
    color: #91c740;
}

.search-btn
{
    position: absolute;
    top: -3px;
    width: 50px;
    height: 50px;
    background: #eeecec;
    border-radius: 50%;
    right: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #91c740;
    transition: all 0.8s ease;
}
.search-btn:hover
{
    background: #2c3e50;
    color: white;
    font-weight: bold;
}

.input.active
{
    width: 300px; /* right: 100px; */
}
/*     
  .search-btn.animate {
    transform: rotate(-360deg);
    right: 100px;
  }
   */

/* Book Test=>Doctor List */

#DoctorList > .responsive-table .col-1
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#DoctorList > .responsive-table .col-2
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#DoctorList > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#DoctorList > .responsive-table .col-4
{
    flex-basis: 8%;
    justify-content: center;
    width: 8%;
}
#DoctorList > .responsive-table .col-5
{
    flex-basis: 4%;
    justify-content: center;
    width: 4%;
}

#DoctorList > .responsive-table .col-6
{
    flex-basis: 14%;
    justify-content: center;
    width: 14%;
}
#DoctorList > .responsive-table .col-7
{
    flex-basis: 8%;
    justify-content: center;
    width: 8%;
}
#DoctorList > .responsive-table .col-8
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#DoctorList > .responsive-table .col-9
{
    flex-basis: 20;
    justify-content: center;
    width: 20%;
}

/* select Date */

#SelectDate > .responsive-table .col-1
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#SelectDate > .responsive-table .col-2
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#SelectDate > .responsive-table .col-3
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#SelectDate > .responsive-table .col-4
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#SelectDate > .responsive-table .col-5
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}

/* Create Report */

#createReport > .responsive-table .col-1
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#createReport > .responsive-table .col-2
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#createReport > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#createReport > .responsive-table .col-4
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#createReport > .responsive-table .col-5
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#createReport > .responsive-table .col-6
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}

/* View Report */
#viewReport > .responsive-table .col-1
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#viewReport > .responsive-table .col-2
{
    flex-basis: 15%;
    justify-content: center;
    width: 15%;
}
#viewReport > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#viewReport > .responsive-table .col-4
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#viewReport > .responsive-table .col-5
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#viewReport > .responsive-table .col-6
{
    flex-basis: 15%;
    justify-content: center;
    width: 15%;
}
#viewReport > .responsive-table .col-7
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#viewReport > .responsive-table .col-8
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}

/* create Report_2 */
#createReport2 > .responsive-table .col-1
{
    flex-basis: 23%;
    justify-content: center;
    width: 23%;
}
#createReport2 > .responsive-table .col-2
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#createReport2 > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#createReport2 > .responsive-table .col-4
{
    flex-basis: 15%;
    justify-content: center;
    width: 15%;
}
#createReport2 > .responsive-table .col-5
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#createReport2 > .responsive-table .col-6
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#createReport2 > .responsive-table .col-7
{
    flex-basis: 9%;
    justify-content: center;
    width: 90%;
}
#createReport2 > .responsive-table .col-8
{
    flex-basis: 12%;
    justify-content: center;
    width: 12%;
}

.inputbox .form-control
{
    max-height: 30px;
}
/* View Report 2 */
#viewReport2 > .responsive-table .col-1
{
    flex-basis: 23%;
    justify-content: center;
    width: 23%;
}
#viewReport2 > .responsive-table .col-2
{
    flex-basis: 8%;
    justify-content: center;
    width: 8%;
}
#viewReport2 > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#viewReport2 > .responsive-table .col-4
{
    flex-basis: 21%;
    justify-content: center;
    width: 21%;
}
#viewReport2 > .responsive-table .col-5
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#viewReport2 > .responsive-table .col-6
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#viewReport2 > .responsive-table .col-7
{
    flex-basis: 9%;
    justify-content: center;
    width: 9%;
}
#viewReport2 > .responsive-table .col-8
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
/* pagination 

.paging {
    text-align: center;
}
.paging ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast
    zoom:1;
    *display: inline;
}*/
.pagination .active  a 
{
   
    color: #fff !important;
  
}
.pagination  .active
{
    position: relative;
    display: inline-block;
    /*background: #2c3e50;*/
    color: #fff !important;
    border-radius: 100%;
    text-decoration: none;
    border-radius: 24px;
    font-size: 10px;
}

/* pagination */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");


.pagination-container
{
    margin: 50px auto;
    text-align: center;
}
.pagination
{
    position: relative;
}
.pagination a
{
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 15px;
}
.pagination a:before
{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #2c3e50;
    border-radius: 24px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.pagination a:hover, .pagination a .pagination-active
{
    color: #fff;
    border-radius: 24px;
}
.pagination a:hover:before, .pagination a .pagination-active:before
{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pagination .pagination-active
{
    color: #fff !important;
}
.pagination .pagination-active:before
{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pagination-newer
{
    margin-right: 50px;
}
.pagination-older
{
    margin-left: 50px;
}

/* patient List */
#patientList > .responsive-table .col-1
{
    flex-basis: 23%;
    justify-content: center;
    width: 23%;
}
#patientList > .responsive-table .col-2
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#patientList > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#patientList > .responsive-table .col-4
{
    flex-basis: 21%;
    justify-content: center;
    width: 21%;
}
#patientList > .responsive-table .col-5
{
    flex-basis: 18%;
    justify-content: center;
    width: 18%;
}
#patientList > .responsive-table .col-6
{
    flex-basis: 5%;
    justify-content: center;
    width: 5%;
}
#patientList > .responsive-table .col-7
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#patientList > .responsive-table .col-8
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
/* patient List */
#DoctorList > .responsive-table .col-1
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#DoctorList > .responsive-table .col-2
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#DoctorList > .responsive-table .col-3
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#DoctorList > .responsive-table .col-4
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#DoctorList > .responsive-table .col-5
{
    flex-basis: 18%;
    justify-content: center;
    width: 18%;
}
#DoctorList > .responsive-table .col-6
{
    flex-basis: 5%;
    justify-content: center;
    width: 5%;
}
#DoctorList > .responsive-table .col-7
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#DoctorList > .responsive-table .col-8
{
    flex-basis: 21%;
    justify-content: center;
    width: 21%;
}
#DoctorList > .responsive-table .col-9
{
    flex-basis: 7%;
    justify-content: center;
    width: 7%;
}
/* Test List */
#TestList > .responsive-table .col-1
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#TestList > .responsive-table .col-2
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#TestList > .responsive-table .col-3
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#TestList > .responsive-table .col-4
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#TestList > .responsive-table .col-5
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
.profile:hover
{
    background: #9ec267d3 !important;
    color: white;
}
.bg
{
    border: 1px solid #9ec267d3;
    margin: 4px;
    border-radius: 5px;
}
.text-13
{
    font-size: 13px;
}

/* Test details */
#testDetails > .responsive-table .col-1
{
    flex-basis: 6%;
    justify-content: left;
    width: 6%;
}
#testDetails > .responsive-table .col-2
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-3
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-4
{
    flex-basis: 10%;
    justify-content: center;
    width: 10%;
}
#testDetails > .responsive-table .col-5
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-6
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-7
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-8
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-9
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-10
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-11
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-12
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-13
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-14
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-15
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}
#testDetails > .responsive-table .col-16
{
    flex-basis: 6%;
    justify-content: center;
    width: 6%;
}

/* Lab Calender */
#labCalender > .responsive-table .col-1
{
    flex-basis: 25%;
    justify-content: center;
    width: 25%;
}
#labCalender > .responsive-table .col-2
{
    flex-basis: 25%;
    justify-content: center;
    width: 25%;
}
#labCalender > .responsive-table .col-3
{
    flex-basis: 25%;
    justify-content: center;
    width: 25%;
}
#labCalender > .responsive-table .col-4
{
    flex-basis: 25%;
    justify-content: center;
    width: 25%;
}
/* Lab Calender2 */
#labCalender2 > .responsive-table .col-1
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#labCalender2 > .responsive-table .col-2
{
    flex-basis: 20%;
    justify-content: center;
}
#labCalender2 > .responsive-table .col-3
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#labCalender2 > .responsive-table .col-4
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#labCalender2 > .responsive-table .col-5
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
.removebtn
{
    border-radius: 50%;
    padding: 2px 12px;
    outline: 0;
    background: #fff;
    border: 2px solid #65a701;
    margin-top: 8px;
}
.removebtn:hover
{
    border-radius: 50%;
    padding: 2px 12px;
    outline: 0;
    background: red;
    border: 2px solid #fff;
    margin-top: 8px;
    color: #fff;
}
.removebtnclass span
{
    position: relative;
}
.removebtnclass span:after
{
    font-family: FontAwesome;
    content: "X"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: -15px;
    pointer-events: none;
    color: #65a701;
}
.removebtnclass span:hover::after
{
    color: #fff;
}
/* Analyte Master */
#analyteMaster > .responsive-table .col-2
{
    flex-basis: 50%;
    justify-content: center;
    width: 50%;
}
#analyteMaster > .responsive-table .col-3
{
    flex-basis: 25%;
    justify-content: center;
    width: 25%;
}
/* SubAnalyte Master */
#subAnalyteMaster > .responsive-table .col-2
{
    flex-basis: 30%;
    justify-content: center;
    width: 30%;
}
#subAnalyteMaster > .responsive-table .col-3
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
/*Specimen Master */
#specimenMaster > .responsive-table .col-2
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}
#specimenMaster > .responsive-table .col-3
{
    flex-basis: 20%;
    justify-content: center;
    width: 20%;
}

/* Analyte Master */
#analyteMaster > .responsive-table .col-2
{
    flex-basis: 50%;
    width: 50%;
}
#analyteMaster > .responsive-table .col-3
{
    flex-basis: 25%;
    width: 25%;
}
/* SubAnalyte Master */
#subAnalyteMaster > .responsive-table .col-2
{
    flex-basis: 30%;
    width: 230%;
}
#subAnalyteMaster > .responsive-table .col-3
{
    flex-basis: 20%;
    width: 20%;
}
/*SubAnalyte Master */
#subanalyteMaster > .responsive-table .col-1
{
    flex-basis: 10%;
    width: 10%;
}
#subanalyteMaster > .responsive-table .col-2
{
    flex-basis: 20%;
    width: 20%;
}
#subanalyteMaster > .responsive-table .col-3
{
    flex-basis: 30%;
    width: 30%;
}
#subanalyteMaster > .responsive-table .col-4
{
    flex-basis: 35%;
    width: 35%;
}


/*specimen/method */
#specimenMethod > .responsive-table .col-1
{
    flex-basis: 25%;
    width: 25%;
}
#subanalyteMaster > .responsive-table .col-2
{
    flex-basis: 25%;
    width: 25%;
}
#subanalyteMaster > .responsive-table .col-3
{
    flex-basis: 25%;
    width: 25%;
}
#subanalyteMaster > .responsive-table .col-4
{
    flex-basis: 25%;
    width: 25%;
}

/* referenceValues */
#referenceValues > .responsive-table .col-1
{
    flex-basis: 15%;
    width: 15%;
}
#referenceValues > .responsive-table .col-1
{
    flex-basis: 15%;
    width: 15%;
}
#referenceValues > .responsive-table .col-1
{
    flex-basis: 15%;
    width: 15%;
}
#referenceValues > .responsive-table .col-1
{
    flex-basis: 15%;
    width: 15%;
}
#referenceValues > .responsive-table .col-1
{
    flex-basis: 15%;
    width: 15%;
}
#referenceValues > .responsive-table .col-1
{
    flex-basis: 25%;
    width: 25%;
}

.table .table-header
{
    background-color: #f2f2f2 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.03em !important; /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2); */
}

.table thead tr
{
    background-color: #f2f2f2 !important;
    font-size: 12px !important;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1) !important;
    border: 10px solid #f3f6ff !important;
}
.table thead
{
    background-color: #f2f2f2 !important;
    font-size: 12px !important;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1) !important;
    border: 10px solid #f3f6ff !important;
}
.table tr
{
    background-color: #ffffff !important;
    font-size: 12px !important;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1) !important;
    border: 10px solid #f3f6ff !important;
}
li a:hover
{
    background: #2c3e50;
    color: white;
    font-weight: bold;
}
span a:hover
{
    background: #2c3e50;
    color: white;
    font-weight: bold;
}
.btn:hover
{
    background: #2c3e50;
    color: white;
    font-weight: bold;
}


/* Test booklist */

.responsive-table li
{
    border-radius: 3px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.responsive-table .table-header
{
    background-color: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}
.responsive-table .table-row
{
    background-color: #ffffff;
    font-size: 12px !important;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
#TestBookList > .responsive-table .col-1
{
    flex-basis: 6%;
    width: 6%;
}
#TestBookList > .responsive-table .col-2
{
    flex-basis: 12.5%;
    width: 12.5%;
}
#TestBookList > .responsive-table .col-3
{
    flex-basis: 12.5%;
    width: 12.5%;
}
#TestBookList > .responsive-table .col-4
{
    flex-basis: 10%;
    width: 10%;
}
#TestBookList > .responsive-table .col-5
{
    flex-basis: 10%;
    width: 10%;
}
#TestBookList > .responsive-table .col-6
{
    flex-basis: 10%;
    width: 10%;
}
#TestBookList > .responsive-table .col-7
{
    flex-basis: 12%;
    width: 10%;
}
#TestBookList > .responsive-table .col-8
{
    flex-basis: 10%;
    width: 10%;
}
#TestBookList > .responsive-table .col-9
{
    flex-basis: 10%;
    width: 10%;
}
#TestBookList > .responsive-table .col-10
{
    flex-basis: 10%;
    width: 10%;
}
.fa-color
{
    color: #91c740;
}
.fa-yellow
{
    color: rgb(248, 191, 3);
}
.fa-style
{
    font-size: 14px;
}
.table-row:hover
{
    background: rgba(145, 199, 64, 0.226);
}
@media all and (max-width: 767px)
{
    .responsive-table .table-header
    {
        display: none;
    }
    .responsive-table li
    {
        display: block;
    }
    .responsive-table .col
    {
        flex-basis: 100%;
    }
    .responsive-table .col
    {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before
    {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

  /*User Management */ 
  #userManagement > .responsive-table .col-1 {
    flex-basis:16%;
    width:16%;
    }
    #userManagement > .responsive-table .col-2 {
      flex-basis:16%;
       width:16%;
      }
      #userManagement > .responsive-table .col-3 {
        flex-basis:16%;
         width:16%;
        }
        #userManagement > .responsive-table .col-4 {
          flex-basis:16%;
           width:16%;
          }
          #userManagement > .responsive-table .col-5 {
            flex-basis:16%;
             width:16%;
            }
            #userManagement > .responsive-table .col-6 {
              flex-basis:6%;
               width:6%;
              }
              #userManagement > .responsive-table .col-7 {
                flex-basis:8%;
                 width:8%;
                }
                #userManagement > .responsive-table .col-8 {
                  flex-basis:6%;
                   width:6%;
                  }
#viewBookHistory > .responsive-table .col-1 {
  flex-basis:20%;
  justify-content: center;
  width:20%;
}
#viewBookHistory > .responsive-table .col-2 {
  flex-basis: 20%;
  justify-content: center;
   width:20%;
}
#viewBookHistory > .responsive-table .col-3 {
  flex-basis: 20%;
  justify-content: center;
   width:20%;
}
#viewBookHistory > .responsive-table .col-4 {
  flex-basis: 20%;
  justify-content: center;
   width:20%;
}
#viewBookHistory > .responsive-table .col-5 {
  flex-basis: 10%;
  justify-content: center;
   width:10%;
}

/*Book Details Page Prescription CSS*/
                  
.modal-table{height:auto}

.north {
transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Safari and Chrome */

}
.west {
transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Safari and Chrome */

}
.south {
transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
    
}
.east {
transform:rotate(270deg);
-ms-transform:rotate(270deg); /* IE 9 */
-webkit-transform:rotate(270deg); /* Safari and Chrome */
}

.img-width-size
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;    
}
#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal1-content1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal1-content1, #caption1 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close1 {
  position: absolute;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal1-content1 {
    width: 100%;
  }
}
.adjustloader
{
position: absolute;
    top: 42%;
    left: 43%;
    z-index: 999
    }
    
    @media screen and (min-width: 1024px), screen and (min-height: 600px){
#btnrotate {
    position: absolute;
    right: 47%;
    top: 110%;
}
}
