*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #fff;
    color:#333;
    /* font-family: 'Josefin Sans', sans-serif; */
}

.navbar
{
    height:80px;
}

#home-section{
    background: url(../images/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 750px;
}

#home-section .dark-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 110%;
    background: rgba(47,121,173,0.5)
}

#home-section .home-inner{
    padding-top: 150px;
}

#home-section .card-form
{
opacity:0.8;
}

.nav-link {
    display: block;
    padding: .5rem .5rem;
    color:black;
}

 .active a{
    color:#336699;
   font-weight: bold;
   border-bottom: 3px solid #336699;
}
 
#form-section #forgotPassLink{
    color: #336699;
}

 .btn
{
    background-color: #336699;
    color:white;
    font-weight: bold;
}

 .form-control-md, .btn
{
/*border-radius: 20px;*/
}

.inputwidthIcon
{
    position: relative;
}

input
{
    text-align: center;
} 

input:focus + .fa {
    color: #336699;
}

.inputwidthIcon i
{
    position: absolute;
    left:20px;
    top:10px;
    color:gray;
}

.card
{
    border-radius: .5rem;
    min-width: 350px;
}
.form-error{color:Red;}
