html{height:100%;}
body{font-family:Arial, Helvetica, sans-serif;font-size:15px;overflow-x:hidden;word-wrap:break-word;margin: 0}
p{font-size:1em;}
h1{font-size:3em;}
h2{font-size:2.25em;}
h3{font-size:1.875em;}
h4{font-size:1.25em;}
h5{font-size:1em;}
h6{font-size:0.875em;}
.primary-col{color: #195bb4}
.primary-col-back{background-color: #195bb4}
.balance-col{color: #cf4747}
.secondary-col{color: #f2c071}
a{color:#65a701 ;}
a:hover, a:focus{color:#333;text-decoration:none;outline:none;}
.white-txt{color: #fff;}
.secondary-link{color:#000;}
.secondary-link:hover, .ad-secondary-link:focus{color:#d65558;text-decoration:none;outline:none;}
.third-link{color:#0c3163;text-decoration:underline;font-style:italic;}
.third-link:hover, .ad-third-link:focus{color:#df4040;text-decoration:underline;}
.forth-link{color:#fff;text-decoration:underline;font-style:italic;}
.forth-link:hover, .ad-forth-link:focus{color:#000;text-decoration:underline;}
img{max-width:100%;}
ul{list-style:none;}
header,nav,ul{margin:0;padding:0;}
.padding-0{padding:0 !important;}
.paddingtop-0{padding-top:0 !important;}
.paddingbottom-0{padding-top:0 !important;}
.paddingleft-0{padding-left:0 !important;}
.paddingright-0{padding-right:0 !important;}
.margin-0{margin:0 !important;}
.margintop-0{margin-top:0 !important;}
.marginbottom-0{margin-bottom:0 !important;}
.marginleft-0{margin-left:0 !important;}
.marginright-0{margin-right:0 !important;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.text-light{font-family:'Adani-Light';}
.divider-primary{width:50px;border-width:5px;border-color:#fff;margin-top:35px;margin-bottom:30px;}
.divider-secondary{width:50px;border-width:5px;border-color:#333;margin-top:35px;margin-bottom:30px;}
.divider-third{width:50px;border-width:5px;border-color:#0c2c60;margin-top:35px;margin-bottom:30px;}
.primary-color{color:#7e5999;}
.secondary-color{color:#ef7104;}
.lab-btn-default{color:#195bb4;background:#fff;font-size:20px;border-radius:5px;text-align:center;display:inline-block;padding:5px 20px;cursor: pointer;border:1px solid #195bb4;}
.lab-btn-logout{padding:5px 10px;color:#fff;background:#195bb4;font-size:16px;border-radius:5px;text-align:center;display:inline-block }
.lab-btn-primary{color:#65a701;background:#fff;font-size:20px;border-radius:5px;text-align:center;display:inline-block;padding:5px 20px;border:1px solid #65a701;}
.lab-btn-primary:hover, .ad-btn-primary:focus{color:#fff;background:#333;border-color:#333;}
.lab-btn-secondary{color:#195bb4;background:#fff;font-size:20px;border-radius:5px;border:1px solid #195bb4;text-align:center;display:inline-block;padding:8px 20px;outline: 0;}
.lab-btn-secondary:hover, .ad-btn-secondary:focus{color:#fff;background:#333;border-color:#333;}
.lab-btn-secondaryNormal{color:#fff;background:#ef7104;font-size:15px;border:1px solid #ef7104;border-radius:0;text-align:center;display:inline-block;padding:5px 20px;}
.lab-btn-secondaryNormal:hover, .ad-btn-secondaryNormal:focus{color:#fff;background:#333;border-color:#333;}
.lab-btn-knowMore{color:#004b9f;border:3px solid #004b9f;padding:7px 15px;border-radius:0;font-size:15px;}
.lab-btn-knowMore:hover,.ad-btn-knowMore:focus{color:#ef7104;border:3px solid #ef7104;outline:none;-webkit-box-shadow:none;box-shadow:none;}
.btn-dropdown{background-color: #ffffff;border-radius: 5px;color: #000;padding: 5px 30px;}
.ad-btn-primary{background: #195bb4; color: #fff; border-radius:5px;text-align:center;display:inline-block;padding:8px 20px; min-width: 100px;}
.lab-btn-white{background: #fff; color: #65a701 ; border-radius:5px;text-align:center;display:inline-block;padding:8px 20px; min-width: 100px;}
.lab-btn-white span, .lab-btn-white i{padding-right: 5px;}
.create-btn{position:relative;top:15px;}
.approve-btn{color: #65a701;background-color:#fff;border:1px solid #65a701;border-radius:5px;text-align:center;display:inline-block;padding:8px 20px; min-width: 100px;}
.hover-color a:hover, .hover-color a:focus, .hover-color >.active a{color:#f9cc18!important;}
.radio-lab input{position:relative;top:10px;}
input[type="checkbox"]{background: #fff; border:1px solid #195bb4; margin-right:10px; vertical-align: middle;height: 20px; width: 20px}
.has-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f00;
}
.has-error::-moz-placeholder { /* Firefox 19+ */
  color: #f00;
}
.has-error:-ms-input-placeholder { /* IE 10+ */
  color: #f00;
}
.has-error:-moz-placeholder { /* Firefox 18- */
  color: #f00;
}
.header-dropdown{margin-top: 7px}
button.ad-modal-close{border:1px solid #000;padding:4px 8px;}
.form-control{min-height:34px;border-radius: 5px;}
.form-control:focus{border-color:#65a701 ;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(239,113,4,.4);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(239,113,4,.4);}
textarea{resize:vertical;}
.navbar {padding: 15px 10px; background: #fff; border: none; border-radius: 0; margin-bottom: 40px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
.navbar-btn {box-shadow: none; outline: none !important; border: none; }
.line {width: 100%; height: 1px; border-bottom: 1px dashed #ddd; margin: 40px 0; }
i, span {display: inline-block; }
.loginheader{background-color: #000;padding: 20px 0}
/*sidebar*/
.wrapper {display: flex; align-items: stretch; }
#sidebar {min-width: 80px; max-width: 80px; background: #191d20; color: #fff;}
#sidebar.active {min-width: 300px; max-width: 300px; text-align: left; }
#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {display: none; }
#sidebar.active .sidebar-header strong {display: block; }
#sidebar ul li a {text-align: left; }
#sidebar.active ul li a {padding: 15px 0 15px 25px; font-size: 0.85em; }
#sidebar.active ul li a i {margin-right:  0;font-size: 20px;}
#sidebar.active ul li a img{float: left;}
#sidebar.active ul li a img ~ span{margin-left:27px;}
#sidebar ul li a img.hovericon, #sidebar ul li a:hover img, #sidebar ul li a:focus img, #sidebar ul li.navactive > a img{display: none;}
#sidebar ul li a:hover img.hovericon, #sidebar ul li a:focus img.hovericon, #sidebar ul li.navactive > a img.hovericon{display: block;}
/*#sidebar.active ul ul a {padding: 10px !important; }*/
#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {top: 23px; left: :100%; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); }
#sidebar .sidebar-header {padding: 20px; background: #000; }
#sidebar .sidebar-header strong {display: none; font-size: 1.8em; }
#sidebar ul.components {min-height: 100vh; height: 100%;}
#sidebar ul li a {padding: 15px 0 15px 25px;font-size: 15px; display: block; color: #f2f2f2; }
#sidebar ul li a:hover,#sidebar ul li a:focus,#sidebar ul li >.active a{color: #65a701 ; background: #49525f; border-left: 2px solid; }
.sidebar-header :hover,.sidebar-header :focus{color: #65a701 ; background: #49525f; border-left: 2px solid; }
#sidebar ul li a i {margin-right: 10px;font-size: 20px; }
#sidebar ul li.active > a, a[aria-expanded="true"] {color: #65a701 ; }
#sidebar a[data-toggle="collapse"] {position: relative; }
#sidebar a[aria-expanded="false"]::before,#sidebar a[aria-expanded="true"]::before {content: '\e259'; display: block; position: absolute; right: 20px; top:18px; font-family: 'Glyphicons Halflings'; font-size: 0.6em; }
#sidebar a[aria-expanded="true"]::before {content: '\e260'; }
ul ul a {font-size: 0.9em !important; padding-left: 30px !important; background: #49525f; }
ul.CTAs {padding: 20px; }
ul.CTAs a {text-align: center; font-size: 0.9em !important; display: block; border-radius: 5px; margin-bottom: 5px; }
a.download {background: #fff; color: #7386D5; }
a.article, a.article:hover {background: #6d7fcc !important; color: #fff !important; }
/*header*/
.header{background-color: #34383c;padding: 20px 0}
/*subheader*/
.subheader{width: 100%;padding: 10px 10px;}
.subheader i{margin-right: 15px;color: #fff}
.subheader-search i{font-size: 20px;margin: 10px 10px;}
.subheader h4 {color: #fff;}
.subheader h5{color: #fff;}
.subheader-search{float: right;}
.subheader-search a{float: left}
.subcontent{padding: 10px 10px}
.subcontent p{color: #fff;margin: 0}
#custom-search-input {margin:0; padding: 0;}
#custom-search-input .search-query {display:none;padding-right: 3px; padding-right: 4px \9; padding-left: 10px; padding-left: 4px \9; margin-bottom: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 10px; background-color: #fff; color: #676767; }
#custom-search-input button {border: 0; z-index: 2; background: none; padding: 2px 5px; margin-top: 2px; position: absolute; right: 10px; top:10px; margin-bottom: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color:#676767; }
.search-query:focus + button {z-index: 3; }
.analytewrap .form-control, .analytewrap .ad-btn-primary{display: inline-block; margin: 10px 0;}
.analytewrap .form-control{max-width: 300px; width:83%; margin-right: 10px; margin: 10px 0; float: none; border-radius: 5px !important; vertical-align: middle;}
.search-test{display:none;}
/*process steps*/
.bs-wizard {margin-top: 40px;}
/*Form Wizard*/
.stepwizard-step p {margin-top: 10px; }
.stepwizard-row {display: table-row; }
.stepwizard {display: table; width: 100%; position: relative;top: 13px; }
.stepwizard-row:before {top: 8px; bottom: 0; position: absolute; content: " "; width: 65%; height: 4px; background-color: #ccc; z-order: 0; margin-left: 227px; }
.stepwizard-step {display: table-cell; text-align: center; position: relative; }
.stepwizard-step a{background: #bdbdbd; padding: 10px 15px; border-radius: 50%;border:3px solid #d6d6d6;color: #fff}
.stepwizard-step a:hover, .stepwizard-step a:focus{background-color: #e89d0d;border:3px solid #ecc67c;color: #fff;}
.status{background: #f2f2f2; padding: 35px 0;box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.form-error{color:Red;}
/*END Form Wizard*/
#content { min-height: 100vh; transition: all 0.3s;width: 100%}
.wrappercontent{padding:25px}
.title{padding: 30px 0}
/*searchbar*/
#myInput {background-image: url('/css/searchicon.png'); background-position: 10px 12px; background-repeat: no-repeat; width: 100%; font-size: 16px; padding: 12px 20px 12px 40px; border: 1px solid #ddd; }
#myUL {list-style-type: none; padding: 0; margin: 0; }
#myUL li a {margin-top: -1px; background-color: #f6f6f6; padding: 12px; text-decoration: none; font-size: 18px; color: black; display: block; }
#myUL li a.header {background-color: #e2e2e2; cursor: default; }
#myUL li a:hover:not(.header) {background-color: #eee; }
.addpatient{margin: 20px 0}
.addpatient span{margin-right:15px;font-weight: bold }
.details{background:#f2f2f2;padding: 20px 0;box-shadow: 0 6px 12px rgba(0,0,0,.175);margin-bottom: 30px}
.rowdetails{margin-bottom: 20px;}
.rowdetails span{color: #195bb4}
.details span{color: #195bb4}
#tabledetails a{margin-right: 10px}
#tabledetails th{text-align: center;color: #f2c071}
#tabledetails .lab-btn-primary, #tabledetails .lab-btn-secondary{font-size: 14px;}
.detailtable {background: #f2f2f2;border-radius: 5px;padding: 30px;box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.detailtable .table{display: table; border:0;border-top: 1px solid #999;}
.detailtable .table th{border:1px solid #999; text-align: center;}
.detailtable .table td{border:1px solid #999; text-align: left;width:100px;max-width:100px;}
.easyPaginateNav{margin-top:20px; text-align: center; position: absolute; width: calc(100% - 30px) !important;}
.easyPaginateNav a{}
#tabledetails>thead>tr>th{border-bottom: none;}
#tabledetails>tbody>tr>td{font-size: 14px;border-top: none;}
.header-wrap{background: #f2f2f2;padding: 10px 50px;font-size: 16px;box-shadow: 0 3px 2px rgba(0,0,0,.2);margin-bottom: 5px }
.header-wrap .fa-check{border-radius: 50%;border: 2px solid #195bb4;padding: 6px;}
.header-wrap .fa-circle-thin{vertical-align: sub;}
.header-wrap .active{color:#195bb4}
.header-wrap .deactive{color:#999}
.header-wrap select{background-color: #ececec;color: #195bb4;min-width: 170px;border-radius: 5px;padding: 5px 0 5px 15px;outline: none;}
.header-wrap option{outline: none}
.tab-content .panel-title{color: #195bb4;}
.booking th{color:#65a701 ;}
.labcalender th{color:#65a701 ;}
.labcalender tbody>tr>td{border-top: none;}
.labcalender tbody>tr>td select{width: 100%;padding: 10px 5px;outline: 0}
.booking thead{background: #f9f9f9;}
.booking>thead>tr>th{border-bottom: none;min-width: 100px;text-align:center;}
.booking>tbody>tr>td{font-size: 14px;border-top: none;}
.booking .lab-btn-primary, .booking .lab-btn-secondary,.booking .lab-btn-default{font-size: 14px;margin-right: 5px}
.booking .fa-mobile, .booking .fa-user{color: #195bb4;}
.bottombtn{float: right;margin-top: 25px}
.total p{color:#195bb4;margin-left: 20px}
.total p span{color: #000}
.payment{background-color: #f2f2f2;margin: 20px 0;padding: 25px 30px;box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.paymenttitle p{color: #f2c071}
.paymenttitle span{color: #000}
.footer{background: #000}
.footer h5{color: #fff}

.details {box-shadow: 0 6px 12px rgba(0,0,0,.175);margin: 30px 0;background: #f2f2f2;padding: 10px 0;color: #999;}
.details i{margin: 10px;}
#sidebar span{display: none}
#sidebar.active span{display: inline-block;margin-left: 30px}
.sidebar-header a{color: #f2f2f2}
.process-steps a{background: #bdbdbd; border-radius: 50%; color: #fff; padding: 10px 15px; border: 4px solid #d6d6d6;}
.process-steps a::after{content: ""; position: absolute; border-bottom: 2px solid #000; width: 100%; height: 13px;margin-left: 18px;}
.process-steps > a :last-child::after { content: "."; }
.test-content .panel-heading .accordion-toggle.collapsed:before{font-family: 'Glyphicons Halflings';content:"\e081"; font-size: 16px; margin-top: 5px;}
.test-content .panel-heading .accordion-toggle:before{font-family: 'Glyphicons Halflings'; content:"\e082"; color: #b8b8b8; font-size: 16px; margin-top: 5px;}
.test-content label::before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; right: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.test-content label::after {display: inline-block; position: absolute; width: 16px; height: 16px; right: 0; top: 0; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555; }
.test-content input[type="checkbox"] {opacity: 0; } 
.test-content input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c"; }
.checkbox-circle label::before {border-radius: 50%;border-color: #f5b433 }
.checkbox-inline {margin-top: 0; }
.test-checkbox input[type="checkbox"]:checked + label::before {background-color: #fff; border-color: #f5b433; }
.test-checkbox input[type="checkbox"]:checked + label::after {color: #f5b433; }
.test-checkbox label, .radio label{padding-left: 0}
.testlist{padding:15px 15px 15px 36px;}
.addtest label::before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.addtest label::after {display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 3px; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555; }
.addtest input[type="checkbox"] {opacity: 0; } 
.addtest input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c"; }
.checkbox-circle label::before {border-radius: 50%;border-color: #f5b433 }
.checkbox-inline {margin-top: 0; }
.list-checkbox input[type="checkbox"]:checked + label::before {background-color: #fff; border-color: #f5b433; }
.list-checkbox input[type="checkbox"]:checked + label::after {color: #f5b433; }
.list-checkbox label, .radio label{padding-left: 0}
.list-checkbox label{margin-left: 20px}

.primarycheck label::before {content: ""; display: inline-block; position: absolute; width: 17px; height: 17px; left: 0; margin-left: -20px; border: 1px solid #cccccc; border-radius: 3px; background-color: #fff; -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out; transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.primarycheck label::after {display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 3px; margin-left: -20px; padding-left: 3px; padding-top: 1px; font-size: 11px; color: #555555; }
.primarycheck input[type="checkbox"] {opacity: 0; } 
.primarycheck input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome'; content: "\f00c"; }
.checkbox-circle label::before {border-radius: 50%;border-color: #195bb4 }
.checkbox-inline {margin-top: 0; }
.test-checkbox input[type="checkbox"]:checked + label::before {background-color: #fff; border-color: #195bb4; }
.test-checkbox input[type="checkbox"]:checked + label::after {color: #195bb4; }
.test-checkbox label, .radio label{padding-left: 0}
.test-checkbox label{margin: 0 20px}
.test-list label{color: #195bb4}

.test-list span{float: right;color: #195bb4}
.list-checkbox{margin-top: 20px !important}
.testtotal p{float: left}
.testtotal span{float: right}
.testtotal{margin-top: 30px}
#datetable>tbody>tr>td{border-top: 0}
#datetable>thead>tr>th{border:none;}
#datetable th{color: #f2c071}
#datetable td{color: #195bb4 }
/*pagination*/
.pagination {display: inline-block; }
.pagination a {color: black; float: left; padding: 8px 14px; text-decoration: none; border-radius: 50%; background-color: #ddd; margin: 4px; }
.pagination a.active {background-color: #195bb4; color: white; }
.pagination a:hover:not(.active) {background-color: #195bb4;color: #fff;}
.inprogress{color: #195bb4}
#searchmodal .modal-title{color: #bdbdbd}
#searchmodal .modal-title i{margin-right: 10px}
.bookmodal .form-control{padding: 10px 20px 10px 105px}
.bookmodal label{position: absolute; top: 0; left: 16px; background: #eb8032; color: #fff; padding: 10px 10px;min-width: 100px}
.bookmodal span{position: absolute; top: 10px; right: 20px;}
#searchmodal .modalclose{background: #eb8032; opacity: 1; color: #fff; border-radius: 50%; padding: 0px 5px;}
.filterbar{background-color: #f2f2f2;padding: 10px 30px;box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.nav-tabs>li.active>a{background-color:#65a701 !important;border-radius: 0 !important;border:none !important;color: #fff !important;}
.lab-details{margin: 50px 0;color: #195bb4}
.lab-details span{color: #000}
#sidebar ul li.navactive > a{color: #65a701 ; background: #49525f; border-left: 2px solid #65a701 ;}
#lbluser{color: #fff}
.bs-wizard {margin-top: 40px;}
.header .dropdown{display: inline-block; margin-left: 20px; vertical-align: middle;}
.header .dropdown-toggle, .header .dropdown-toggle:focus{color: #fff;min-width: 160px;}
.header .dropdown-toggle i{padding-left: 5px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.header-tabs{background-color: #f2f2f2;padding: 15px;    box-shadow: 0 3px 2px rgba(0,0,0,.3);}
.status{}
.table>tbody>tr>th{border: none;}
#spanImages td{padding: 5px}
#spanImages img{width: 100px; height: 100px}
#spanLogo img{width: 100px; height: 100px;padding: 5px}
/*END Form Wizard*/
.fileUpload {position: relative; overflow: hidden; margin: 10px 0; }
.fileUpload input.upload {position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
#imageDiv td{padding: 5px;position: relative;}
#imageDiv .closeicon{position: absolute;top: 0;right: 0; color: #000;}
#logoDiv td{position: relative;}
#logoDiv .closeicon{position: absolute;top:-5px;right:-5px; color: #000;cursor: pointer;}
.uploadinput{height: 42px; border-radius: 0;padding: 0 10px; width: 80%;}
.fileUpload span{margin: 4px 18px;}
.points{background-color: #f2f2f2;padding: 15px;border-radius:5px }
.removebtn {border-radius: 50%; padding: 2px 12px; outline: 0; background: #fff; border: 2px solid #65a701 ;margin-top: 8px;}
.removebtn:hover{border-radius: 50%; padding: 2px 12px; outline: 0; background: red; border: 2px solid #fff;margin-top: 8px;color: #fff}
.removebtnclass span{position: relative;}
.removebtnclass span:after{
	font-family: FontAwesome;
    content: "\f00d"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 7px;
    pointer-events: none;
    color: #65a701 ;
}
.removebtnclass span:hover::after{
	color: #fff;
}
.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #195bb4;
    font-size: 12px
}
.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #195bb4;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.radio-custom {
    opacity: 0;
    position: absolute;   
}
input[type=radio]{height: 30px;width: 30px}
#divPaymentDetailsEdit{float: right;margin: 20px 0}
#divApproveReject{float: right;margin: 20px 0}
.paymentdetails select{width: 100%;padding: 10px 5px;outline: #f2c071}
.reprttitle{text-align: center;margin:20px 0;}
.createreporttable .table>tbody>tr>th{border:1px solid #ddd}
.createreporttable th{color: #65a701 }
input{outline-color: #65a701 }
.reportapproval{margin: 20px 0;float: right;}
.reports-notes p{font-weight: 700}
.reports-notes span{font-weight: 300}
.form-header{background:#000;}
.reportvalueedit{margin: 20px 0;float: right;}
.login-form{margin: 30px 0;background:#c9e0ff;padding: 30px 15px;border-radius: 5px;}
.login-form .breadcrumb{padding: 8px 15px; margin-bottom: 20px; list-style: none; background-color: #195bb4 !important; border-radius: 4px;color: #fff}
.login-btn{margin-top: 15px}
.login-form .form-group input{background-color: #fff !important}
.section-footer {background: #fff; }
.footer-copy {background: #000; color: #949494; padding: 10px 0; font-size: 13px; font-weight: bold; }
.ftrCopy{color: #fff}


.centeralignform{max-width: 500px; width: 100%; margin:40px auto;}
.analytewrap{display:block; padding:0 10px;}
#tabAnalyte{padding-top: 20px;}
#tbodyAnalyte tr:first-child{display: none;}
#divDateTimeSlot.testbook.active ~ .text-right{display: none;}
.testbook .form-control{margin-bottom:5px;}
.testmaster, .testbook{position: relative; padding-bottom: 60px;}


#logoDiv{display: inline-block;position: relative;}
.testmasterwrap{margin: 30px auto 0; padding:0 15px;}
.testmaster h4{color: #195bb4; padding-left:30px;}
.testmaster .nextbtn{position:relative;top:15px;left:15px;}
.testmaster .prevbtn{position:relative;left: 15px;top:15px;margin-right:15px;}
.masterform{margin-top: 30px; padding:0 30px;}
.cus-form h5{color: #195bb4; font-size: 20px;}
.pdf-btn{float: right;    background: #fff; color: #195bb4; border-radius: 5px; text-align: center; display: inline-block; padding: 8px 20px; min-width: 100px;border:none;}
.pdf-btn:hover{color: #000}
.prescription-img{width: 400px}
.modal-table{height: 60vh}
#divSelectTests{padding: 0 30px; margin-bottom: 30px;}
.package-wrap {padding: 0 30px}
#divSelectTests ul{margin-bottom: 30px}
#divSelectTests ul ul{padding-left:20px }
#divSelectTests ul ul .radio-custom + .radio-custom-label:before{width: 15px;height: 15px;}
#divSelectTests ul ul input[type="checkbox"]{width: 15px;height: 15px;}
#divSelectTests ul ul .radio-custom:checked + .radio-custom-label:before{font-size: 10px}
#divSelectTests ul b{border-bottom: 1px solid;}
.form-group .aspNetDisabled{display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #ccc;    cursor: not-allowed; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.lablogo{float: left}
.labdetails{padding: 15px 0}
.patientdetails p, .testdetails p{display: inline-block;}
.fixed-table thead{background: #f9f9f9; display: table; width: 100%;}
.fixed-table tbody{height: 300px; overflow: auto; overflow-x: hidden; display: block; width: 100%;}
.fixed-table tbody tr{display: table; width: 100%; table-layout: fixed;}
.testwrap{padding: 0}
.testbook .form-group{padding: 25px}
.wrappercontent .scrollmenu {background-color: #195bb4; overflow: auto; white-space: nowrap; }
.wrappercontent .scrollmenu a {display: inline-block; color: white; text-align: center; padding: 14px; text-decoration: none; }
.wrappercontent .scrollmenu a:hover {background-color: #777;}
.wrappercontent .scrollmenu a:focus, .wrappercontent .scrollmenu a:active{background-color: #777;}
.details .col-sm-6{margin-bottom: 10px}
/*media queries*/
@media screen and (min-width: 1024px),screen and (min-height: 600px) {}

@media screen and (min-width:990px) and (max-width:1024px){}

@media screen and (min-width:641px) and (max-width:768px){
#sidebar.active{text-align: left;}
    #sidebar {min-width: 80px; max-width: 80px; text-align: center; }
	a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {top: auto; bottom: 5px; right: 50%; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); }
    #sidebar.active {margin-left: 0 !important;min-width: 250px;max-width: 250px }
    #sidebar .sidebar-header h3, #sidebar .CTAs {display: none; }
    #sidebar .sidebar-header strong {display: block; }
    #sidebar ul li a {padding: 15px 0 15px 0; text-align: center; }
    #sidebar ul li a span {font-size: 14px; }
    #sidebar ul li a i {margin-right:  0; display: inline-block; }
    #sidebar ul ul a {padding: 10px !important; }
    #sidebar ul li a i {font-size: 1.3em; }
    #sidebar.active {margin-left: 0; }
    #sidebarCollapse span {display: none; }
    #sidebar.active ul li a{text-align: left;padding: 15px 0 10px 25px;}
    .stepwizard-row:before{margin-left: 115px}
    .subheader h4{font-size: 15px}
    #tabledetails .lab-btn-primary, #tabledetails .lab-btn-secondary{font-size: 12px ;padding:5px 10px !important;}
    .analytewrap .form-control{width: 50%; max-width:200px;}
    #UpdatePanel1 .col-sm-6.text-right{text-align: left;}
}

@media screen and (min-width:481px) and (max-width:640px){
	.table-responsive{width:85%; min-width: 240px;}
	#sidebar {min-width: 50px;}
	#sidebar ul li a {padding: 15px 0 15px 14px;}
	.analytewrap .form-control, .analytewrap .ad-btn-primary{margin-top: 10px;}	
	.subheader-search{float: none;}
	.analytewrap .form-control{width: 50%; max-width:200px;}
    #UpdatePanel1 .col-sm-6.text-right{text-align: left;}
}

@media screen and (min-width:300px) and (max-width:480px){
	.logo{width: 100px;padding-top: 5px;}
	.table-responsive{width:85%; min-width: 240px;}
	#sidebar {min-width: 50px;}
	#sidebar ul li a {padding: 15px 0 15px 14px;}	
	.analytewrap .form-control, .analytewrap .ad-btn-primary{margin-top: 10px;}	
	.subheader-search{float: none;}
	.analytewrap .form-control{width: 100%;}
    #UpdatePanel1 .col-sm-6.text-right{text-align: left;}
}

@media screen and (max-width:320px){}

@font-face{font-family:'Roboto-Regular';src:url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Medium';src:url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Bold';src:url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');font-weight:normal;font-style:normal;}
