<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <!--<machineKey  decryptionKey="2CC8E5C3B1812451A707FBAAAEAC9052E05AE1B858993660" validation="HMACSHA256" decryption="AES" validationKey="CB8860CE588A62A2CF9B0B2F48D2C8C31A6A40F0517268CEBCA431A3177B08FC53D818B82DEDCF015A71A0C4B817EA8FDCA2B3BDD091D89F2EDDFB3C06C0CB32" />-->
        <!--<machineKey validationKey="A3A0ED50BBDC17AB454FF74AD4E8B13E4D89A60B505E34C89E2F6FA37DD74E31C3E89E5F7F7D33C1D16514714CB2FD664E69CB9E66E7DF3F844E4EC94EA8901A" decryptionKey="2B5FAFD842A0BF52162AE5753CBD805B1F7BFF4E8444023E72311D6D1ACCEFF5" validation="SHA1" decryption="AES" />-->
        <trust level="Full"/>
        <!--<compilation debug="false" targetFramework="4.0" tempDirectory="G:\PleskVhosts\visionarylifescience.com\tmp" />-->
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.htm"></customErrors>-->
        <customErrors mode="Off"/>
      
        <sessionState mode="InProc" timeout="5000"/>
        <httpRuntime executionTimeout="600" maxRequestLength="100000" enableVersionHeader="false"/>
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
        <machineKey validation="AES"/>
        <trace enabled="false" localOnly="true"/>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false"/>

        
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
                <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE"/>
                <add name="X-Frame-Options" value="SAMEORIGIN"/>
                <!--<add name="Access-Control-Allow-Origin" value="*"/>-->
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxUrl="10999" maxQueryString="9999"/>
                <verbs allowUnlisted="true">
                    <add verb="OPTIONS" allowed="false"/>
                </verbs>
            </requestFiltering>
        </security>
        <!--<directoryBrowse enabled="true" />-->
        <httpErrors>
            <remove statusCode="400"/>
            <error statusCode="400" path="..\error_docs\bad_request.html"/>
            <remove statusCode="401"/>
            <error statusCode="401" path="..\error_docs\unauthorized.html"/>
            <remove statusCode="403"/>
            <error statusCode="403" path="..\error_docs\forbidden.html"/>
            <remove statusCode="404"/>
            <error statusCode="404" path="..\error_docs\not_found.html"/>
            <remove statusCode="405"/>
            <error statusCode="405" path="..\error_docs\method_not_allowed.html"/>
            <remove statusCode="406"/>
            <error statusCode="406" path="..\error_docs\not_acceptable.html"/>
            <remove statusCode="407"/>
            <error statusCode="407" path="..\error_docs\proxy_authentication_required.html"/>
            <remove statusCode="412"/>
            <error statusCode="412" path="..\error_docs\precondition_failed.html"/>
            <remove statusCode="414"/>
            <error statusCode="414" path="..\error_docs\request-uri_too_long.html"/>
            <remove statusCode="415"/>
            <error statusCode="415" path="..\error_docs\unsupported_media_type.html"/>
            <remove statusCode="500"/>
            <error statusCode="500" path="..\error_docs\internal_server_error.html"/>
            <remove statusCode="501"/>
            <error statusCode="501" path="..\error_docs\not_implemented.html"/>
            <remove statusCode="502"/>
            <error statusCode="502" path="..\error_docs\bad_gateway.html"/>
            <remove statusCode="503"/>
            <error statusCode="503" path="..\error_docs\maintenance.html"/>
        </httpErrors>
    </system.webServer>
    <appSettings>
        <add key="sendWhatsappMsg" value="https://twebapi.visionarylifescience.com/sendWatsappMsgModel/"/>
        <!--<add key="connection" value="Data Source=43.255.152.21;Initial Catalog=MedicalDbBackup;Persist Security Info=True;User ID=visionarylifes123;Password=Lifescience@12"/>-->
        <add key="connection" value="Data Source=202.154.161.105;Initial Catalog=MedicalDbBackup;Persist Security Info=True;User ID=sa;Password=@Vls1234#?"/>
        <add key="FacebookConsumerKey" value="544730365893171"/>
        <add key="FacebookConsumerSecret" value="5b61c02329f845be1464b086199a2627"/>
        <add key="from_EmailID" value="visionarylifesciences7@gmail.com"/>
        <add key="from_PassWord" value="vls1234$"/>
		<add key="portel_url" value="https://dev-gov.visionarylifescience.com/"/>
        <add key="technician_loginDtls_to_emailId" value="harshada@howzu.co.in"/>
        <add key="contactNo" value="8600666159,9702903233"/>
        <!--visionarylifesciences7@gmail.com-->
    </appSettings>
    <connectionStrings>
        <remove name="LocalSqlServer"/>
        <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
        <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
        <add name="constr" connectionString="Data Source=DESKTOP-U7P0R63;Initial Catalog=MedicalDbBackup;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <!--<add name="constr" connectionString="Data Source=202.154.161.105;Initial Catalog=MedicalDbBackup;Persist Security Info=True;User ID=Howzu;Password=Vls1234#?" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <!--  <network host="smtpout.asia.secureserver.net" userName="support@visionarylifescience.com" password="@Visionarylife2020" defaultCredentials="false" /> -->
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
