body{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
}
.header_top
{
    height:50px;
    width:100%;
    background:#038086;
}
hr {
    margin-top: 0rem;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid rgba(19, 19, 19, 0.7);
}
  p{
      padding:0px;
      margin:0px;
      font-size: 13px;
  }
  .doc{
      font-size: 18px;
      color: #e6668a;
      float: right;
  }
  .doc1
  {
      margin-right: auto;
  }

#section{
    position:relative;
height:1000px;
width:100%;
}

  .div1
  {
  opacity:10%; 
  width:100%;
  margin:auto;
  min-height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
   position:relative;
   z-index: 1;
  }
  .div2
  {
    position: absolute;
    top:10px;
    width: 97.5%;
    margin:auto;
    min-height:100%;
  }

   .card p
  {
    padding:5px;

  } 
  .card
  {
      width: 100%;
      height:auto;
  }
  h6{padding:5px 60px;}

  .table th,.table td{
    font-size:12px;
    padding: 3px;
    vertical-align: top;    
}
@media print {
    footer{
        position:fixed;
        bottom: 0rem;
    }
    p{
        font-size: 16px;
    }
    .table td {
       font-size:16px; 
    }
    
    .footer p {
        font-size: 16px;;
    };
    }
