*{
    margin: 0px;
    padding:0px;
    font-size:13px;
    widows: 100%;
    height:Auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
h1, h2,h3,h4,h5,h6,p{
    margin-bottom: 0px;
    line-height: 1.5rem;

}
.table-borderless td,
.table-borderless th {
    border: 0;
}

.table th,.table td{
    font-size:12px;
    padding: 3px;
    vertical-align: top;
    
}

.container-fluid

{
    margin: 0px 50px;
}

/*   Shri lab CSS Start */ 
.container-fluid
{
 padding-left:30px;
 padding-right: 30px;
}
main{
    margin-top:30px;
}
header,footer{
    position: static;
}
section{
    height:800px;
}
.table td,ol li, p{
    font-size: 13px;
}

h5,h1,p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    line-height: 1rem;
}

h6{padding:5px 60px;}


.table-bordered td
{
    border:1px solid black !important;
}

.footer
{
margin-right: 35px;    
}

.size
{
    height: 140px;
    width:150px;
}
.intro
{
    border-bottom: 4px double rgb(247, 79, 79);
    margin: 0px;
}
.col2 p{
    padding-right: 15px;
}
hr{
    margin: 1px;
}
#name1
{
 border:4px solid rgb(224, 99, 99);
}
#name2
{
 border:4px solid rgb(223, 133, 133);
}
#name3
{
 height:5px;
 background: rgb(214, 156, 156);
}
#name4
{
 height:5px;
 background:rgb(245, 148, 58);
}
#name5
{
 height:5px;
 background:rgb(236, 177, 15) ;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 2px; 
     padding-left: 2px;
}
.lab-info
{
    background: rgba(252, 236, 164, 0.664);
}

.card p{
    padding:5px;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}

.table th,.table td{
    font-size:12px;
    padding: 3px;
    vertical-align: top;    
}
ol{
    padding-left:15px;
}
